@model TeacherBookApi.Models.Student

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FiestName" class="control-label"></label>
                <input asp-for="FiestName" class="form-control" />
                <span asp-validation-for="FiestName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatronomicName" class="control-label"></label>
                <input asp-for="PatronomicName" class="form-control" />
                <span asp-validation-for="PatronomicName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProfession" class="control-label"></label>
                <select asp-for="IdProfession" class ="form-control" asp-items="ViewBag.IdProfession"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdFormTime" class="control-label"></label>
                <select asp-for="IdFormTime" class ="form-control" asp-items="ViewBag.IdFormTime"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdGroup" class="control-label"></label>
                <select asp-for="IdGroup" class ="form-control" asp-items="ViewBag.IdGroup"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdYearAdd" class="control-label"></label>
                <select asp-for="IdYearAdd" class ="form-control" asp-items="ViewBag.IdYearAdd"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
