@model TeacherBookApi.Models.History

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>History</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdHistory" />
            <div class="form-group">
                <label asp-for="IdTeacher" class="control-label"></label>
                <select asp-for="IdTeacher" class="form-control" asp-items="ViewBag.IdTeacher"></select>
                <span asp-validation-for="IdTeacher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdStudent" class="control-label"></label>
                <select asp-for="IdStudent" class="form-control" asp-items="ViewBag.IdStudent"></select>
                <span asp-validation-for="IdStudent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdStatus" class="control-label"></label>
                <select asp-for="IdStatus" class="form-control" asp-items="ViewBag.IdStatus"></select>
                <span asp-validation-for="IdStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateEvent" class="control-label"></label>
                <input asp-for="DateEvent" class="form-control" />
                <span asp-validation-for="DateEvent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
